<section id="sobre">
    <div class="container">
        <div class="row mt-4">
            <h2 class="pt-3">Sobre</h2>
            <div class="col-md-3">
                <img class="img-fluid shadow" src="assets/images/Fabio_Rezende.png" alt="Foto do Fabio"
                    data-anime="left">
            </div>
            <div class="col-md-8" data-anime="right">
                <p>Sou um entusiasta de tecnologia com uma paixão dedicada ao desenvolvimento, acumulando dois anos e
                    meio
                    de experiência como desenvolvedor <b>full-stack</b>, com foco no <b>back-end</b>.

                    Sou formado em Análise e Desenvolvimento de Sistemas pelo Instituto Federal de Educação, Ciência e
                    Tecnologia de São Paulo (IFSP) e atualmente curso Engenharia de Software na Universidade São
                    Francisco (USF). Minha formação acadêmica, aliada à experiência prática, tem sido fundamental para o
                    desenvolvimento de soluções eficientes e escaláveis em sistemas complexos.

                    Como profissional autodidata, estou sempre buscando aprimorar minhas habilidades e me manter
                    atualizado com as últimas tendências tecnológicas. Minha abordagem proativa e responsável me permite
                    enfrentar desafios com eficiência, colaborando em equipes multidisciplinares para criar soluções
                    inovadoras.
                </p>
                <p>
                    Minha dedicação ao desenvolvimento full stack me proporcionou experiência em <b>Python</b>,
                    <b>C#</b>, <b>JavaScript</b>,
                    <b>Flutter</b>, <b>Angular</b>, <b>HTML</b> e <b>CSS</b>, além de estar sempre aberto a explorar
                    novas tecnologias para
                    aprimorar minhas habilidades.

                    Sou reconhecido pela minha comunicação eficaz e pela capacidade de trabalhar de forma colaborativa
                    em equipe, contribuindo para um ambiente produtivo e inovador. Estou sempre em busca de novos
                    desafios e oportunidades de crescimento no mundo da tecnologia.
                </p>
            </div>
        </div>
    </div>
</section>