<section id="sobre">
    <div class="container">
        <div class="row w-100">
            <div class="col-md-12" data-anime="top">
                <h2 class="pt-3">Sobre</h2>
                <p>Sou um entusiasta de tecnologia com uma paixão dedicada ao desenvolvimento, acumulando dois anos e
                    meio
                    de experiência como desenvolvedor <b>full-stack</b>, com foco no <b>back-end</b>.

                    Sou formado em Análise e Desenvolvimento de Sistemas pelo Instituto Federal de Educação, Ciência e
                    Tecnologia de São Paulo (IFSP) e atualmente curso Engenharia de Software na Universidade São
                    Francisco (USF). Minha formação acadêmica, aliada à experiência prática, tem sido fundamental para o
                    desenvolvimento de soluções eficientes e escaláveis em sistemas complexos.

                    Como profissional autodidata, estou sempre buscando aprimorar minhas habilidades e me manter
                    atualizado com as últimas tendências tecnológicas. Minha abordagem proativa e responsável me permite
                    enfrentar desafios com eficiência, colaborando em equipes multidisciplinares para criar soluções
                    inovadoras.
                </p>
                <p>
                    Minha dedicação ao desenvolvimento full stack me proporcionou experiência em <b>Python</b>,
                    <b>C#</b>, <b>JavaScript</b>,
                    <b>Flutter</b>, <b>Angular</b>, <b>HTML</b> e <b>CSS</b>, além de estar sempre aberto a explorar
                    novas tecnologias para
                    aprimorar minhas habilidades.

                    Sou reconhecido pela minha comunicação eficaz e pela capacidade de trabalhar de forma colaborativa
                    em equipe, contribuindo para um ambiente produtivo e inovador. Estou sempre em busca de novos
                    desafios e oportunidades de crescimento no mundo da tecnologia.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <img class="img-fluid shadow" src="assets/images/Fabio_Rezende.png" alt="Foto do Fabio"
                    data-anime="left">
            </div>
            <div class="col-md-8" data-anime="right">
                <h3>Analista de Sistemas Júnior</h3>
                <p>Atualmente, desempenho a função de <b>Analista de Sistemas Júnior</b> no setor de Tecnologia da Alpina Têxtil,
                    atuando como desenvolvedor <b>full-stack</b>. Minhas principais responsabilidades incluem o desenvolvimento
                    de APIs em <b>C#</b> com <b>.NET</b>, além de trabalhar com <b>Angular</b> no front-end para criar aplicações dinâmicas e
                    responsivas.

                    Também possuo experiência com <b>Python</b> no <b>back-end</b>, além de utilizar <b>HTML</b>, <b>CSS</b> e <b>JavaScript</b> no
                    desenvolvimento <b>front-end</b>. Além disso, estou envolvido na gestão de bancos de dados <b>SQL</b>.</p>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5 list">
                            <li class="list-group-item list">
                                Niver: <span class="fw-lighter">18 de Agosto</span>
                            </li>
                            <li class="list-group-item list">
                                Idade: <span class="fw-lighter">23 Anos</span>
                            </li>
                            <li class="list-group-item list">
                                Cidade: <span class="fw-lighter">Tuiuti</span>
                            </li>
                            <li class="list-group-item list">
                                Estado: <span class="fw-lighter">São Paulo</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5 list">
                            <li class="list-group-item list">
                                Trabalho: <span class="fw-lighter">Alpina Têxtil</span>
                            </li>
                            <li class="list-group-item list">
                                Experiência: <span class="fw-lighter">4 Anos</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>