header {
    position: fixed;
    z-index: 9999999;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-blur-dark);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 3.5rem;
    width: 100vw;
}

.menu {
    list-style: none;
    display: flex;
    height: 9px;
}

.logo {
    text-decoration: none;
    color: #ffffff;
}

.logo img {
    width: 45px;
}

.menu li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    transition: ease-in-out 0.3s;
}

.menu li a .bar {
    width: 0%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--accent-orange);
    transition: ease-in-out 0.3s;
}

.menu li a:hover {
    color: var(--accent-orange);
}

.menu li a.active .bar {
    color: var(--accent-orange);
    font-weight: bold;
    width: 100%;
}

.menu li a i {
    margin-right: 8px;
}

.menu-mobile {
    display: none;
    cursor: pointer;
}

.menu-mobile div {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 8px;
    transition: 0.5s;
}

.nav-list.ativa {
    transform: translateX(0);
}

.menu-mobile.ativa .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-mobile.ativa .linha2 {
    opacity: 0;
}

.menu-mobile.ativa .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.fw-lighter {
    font-weight: 250 !important;
}

@media (max-width: 1024px) {
    .nav-list {
        position: absolute;
        top: 3.4rem;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: var(--secondary-blur-dark);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .menu {
        height: 75vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .menu li {
        margin-left: 0;
        opacity: 0;
    }

    .menu li a {
        font-size: 15px;
    }

    .menu li a i {
        font-size: 15px;
    }

    .menu-mobile {
        display: block;
        z-index: 999999;
    }
}