footer {
    background-color: var(--secondary-dark);
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    padding: 20px;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--secondary-orange);
}

.sub-title {
    font-size: 0.9rem;
}

.icon-contact i {
    font-size: 1.5rem;
    color: #ffffff;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
}

.list-unstyled li {
    margin-bottom: 1rem !important;
}

.icon-contact i:hover {
    color: #000000;
    background-color: #ffffff;
    transform: translateY(-5px);
}

a.link {
    letter-spacing: 3px;
    text-decoration: none;
    color: #ffffff;
    transition: ease-in-out 0.3s;
}

a.link:hover {
    color: var(--accent-orange);
}

a.link i {
    margin-right: 8px;
}

.link-email {
    text-decoration: none;
    color: #ffffff;

}

.link-email:hover {
    color: var(--accent-orange);
}


.link-email i{
    margin-right: 0.5rem;
}
