<footer class="d-flex flex-wrap justify-content-center align-items-center py-3">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-8 ps-1 mb-3">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-md-2 col-sm-8">
                            <img src="assets/images/logo.png" width="60" alt="Logo">
                        </div>
                        <div class="col-md-8 ps-3 align-self-center">
                            <span class="title">Fabio Rezende</span>
                            <br>
                            <span class="sub-title">Desenvolvedor Full-Stack</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <span class="sub-title">Desenvolvendo soluções, uma linha de código de cada vez.</span>
                    </div>
                    <div class="row">
                        <ul class="nav d-flex">
                            <li>
                                <a class="icon-contact" href="mailto:rezendefabio337@hotmail.com" target="_blank">
                                    <i class="fa-regular fa-envelope"></i>
                                </a>
                            </li>
                            <li class="ms-3">
                                <a class="icon-contact" href="https://www.linkedin.com/in/fabio-rezendee/"
                                    target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="ms-3">
                                <a class="icon-contact" href="https://instagram.com/rezendee_fabio" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li class="ms-3">
                                <a class="icon-contact" href="https://github.com/Rezende-Fabio" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 align-self-center ps-4 mb-3">
                <span class="title">Links</span>
                <ul class="list-unstyled">
                    <li>
                        <a href="#inicio" class="link">
                            <i class="fa-solid fa-house"></i>Início
                        </a>
                    </li>
                    <li>
                        <a href="#sobre" class="link">
                            <i class="fa-regular fa-user"></i>Sobre
                        </a>
                    </li>
                    <li>
                        <a href="#habilidades" class="link">
                            <i class="fa-solid fa-list-check"></i>Habilidades
                        </a>
                    </li>
                    <li>
                        <a href="#projetos" class="link">
                            <i class="bi bi-collection-fill"></i>Projetos
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 ps-4">
                <span class="title">Contato</span>
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col align-self-center">
                            <a class="link-email" href="mailto:rezendefabio337@hotmail.com" target="_blank">
                                <i class="fa-regular fa-envelope"></i>
                                rezendefabio337gmail.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="copyright">
                    © {{ currentYear }} Fabio Rezende
                </span>
            </div>
            <div class="col d-flex justify-content-end">
                <span class="copyright">
                    Icons by
                    <a target="_blank" href="https://icons8.com.br/"> Icons8</a>
                    and
                    <a target="_blank" href="https://fontawesome.com/"> Font Awesome</a>
                </span>
            </div>
        </div>
    </div>
</footer>