<div class="project-card" data-anime-card="down">
    @if (project?.mobile) {
        <img class="background-img mobile" [src]="project?.backgroundImage" alt="Project Image">
    } @else {
        <img class="background-img" [src]="project?.backgroundImage" alt="Project Image">
    }
    <div class="overlay">
        <h2>{{project?.name}}</h2>
        <div class="icons">
            @for (stack of project?.stacks; track $index) {
                <img class="icon" [src]="stack.image" alt="{{stack.name}}">
            }
        </div>
    </div>
    <div class="footer">
        <button>
            Ver mais
        </button>
    </div>
</div>