@media (max-width: 1024px) {
    .project-card .icons img {
        width: 19px !important; 
        margin: 5px;
    }
}

.project-card {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 200px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    border-bottom: 6px solid var(--accent-orange);
}

.project-card .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.project-card .mobile {
    object-fit: scale-down;
}

.project-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: var(--primary-orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.project-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--primary-orange);
}

.project-card .icons img {
    width: 30px;
    margin: 5px;
}

.project-card .footer {
    position: absolute;
    width: 100%;
    background: var(--tertiary-dark);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    opacity: 0;
    transition: 0.5s ease-in;
    transform: translateY(-45px);
}

.project-card .footer button {
    background-color: #ffffff;
    border-radius: 15px;
    transition: 0.75s ease-in;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
    border: none;
}


.project-card:hover {
    cursor: pointer;
    transform: perspective(400px) translate3d(0px, 0px, 60px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 999;
    border-radius: 5px 5px 0px 0px;
}

.project-card:hover .overlay {
    opacity: 0;
}

.project-card:hover .footer,
.footer:hover {
    transform: translateY(5px); 
    z-index: 99;  
    opacity: 1;
    border-radius: 0px 0px 5px 5px;
    border: none;
}

.project-card:hover .footer button,
.footer:hover {
    background-color: var(--primary-orange);
    color: #ffffff;
    font-size: 17px;
}

.development {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--primary-red);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}