<section id="projetos">
    <div class="container pb-5">
        <h2 class="pb-4">Projetos</h2>
        <div class="grid-container">
            <div class="project-card" data-anime="up">
                <img src="assets/images/med_senior_api.png" alt="Project Image">
                <div class="overlay">
                    <h2>Med Senior API</h2>
                    <div class="icons">
                        <img class="icon" src="assets/icons/typescript.svg" alt="Typescript">
                        <img class="icon" src="assets/icons/nestjs.svg" alt="NestJs">
                        <img class="icon" src="assets/icons/prisma.svg" alt="Prisma">
                        <img class="icon" src="assets/icons/mongo.svg" alt="Mongo">
                        <img class="icon" src="assets/icons/docker.svg" alt="Docker">
                    </div>
                </div>
                <div class="footer">Ver mais</div>
            </div>
            <div class="project-card" data-anime="up">
                <img src="assets/images/med_senior_web.png" alt="Project Image">
                <div class="overlay">
                    <h2>Med Senior Web</h2>
                    <div class="icons">
                        <img class="icon" src="assets/icons/typescript.svg" alt="Typescript">
                        <img class="icon" src="assets/icons/vue.svg" alt="Vue">
                        <img class="icon" src="assets/icons/css.svg" alt="Css">
                        <img class="icon" src="assets/icons/docker.svg" alt="Docker">
                    </div>
                </div>
                <div class="footer">Ver mais</div>
            </div>
            <div class="project-card" data-anime="up">
                <img src="assets/images/med_senior_mobile.jpg" alt="Project Image">
                <div class="overlay">
                    <h2>Med Senior Mobile</h2>
                    <div class="icons">
                        <img class="icon" src="assets/icons/flutter.svg" alt="Flutter">
                    </div>
                </div>
                <div class="footer">Ver mais</div>
            </div>
            <div class="project-card" data-anime="up">
                <img src="assets/images/fruit_market.png" alt="Project Image">
                <div class="overlay">
                    <h2>Fruit Market</h2>
                    <div class="icons">
                        <img class="icon" src="assets/icons/flutter.svg" alt="Flutter">
                    </div>
                </div>
                <div class="footer">Ver mais</div>
            </div>
            <div class="project-card" data-anime="up">
                <img src="assets/images/snack_spot.png" alt="Project Image">
                <div class="overlay">
                    <h2>Snack Spot</h2>
                    <div class="icons">
                        <img class="icon" src="assets/icons/csharp.svg" alt="CSharp">
                        <img class="icon" src="assets/icons/html.svg" alt="Html">
                        <img class="icon" src="assets/icons/css.svg" alt="Css">
                        <img class="icon" src="assets/icons/postgres.svg" alt="Postgres">
                        <img class="icon" src="assets/icons/docker.svg" alt="Docker">
                    </div>
                </div>
                <div class="footer">Ver mais</div>
            </div>
        </div>
        <div class="container p-5">
            <ul class="nav justify-content-center d-flex">
                <li class="ms-4">
                    <a class="text-body-secondary" href="mailto:rezendefabio337@hotmail.com" target="_blank">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </li>
                <li class="ms-4">
                    <a class="text-body-secondary" href="https://www.linkedin.com/in/fabio-rezendee/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="ms-4">
                    <a class="text-body-secondary" href="https://instagram.com/rezendee_fabio" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="ms-4">
                    <a class="text-body-secondary" href="https://github.com/Rezende-Fabio" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>