section#projects {
    background: var(--primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1024px) {
    section#projects {
        overflow-x: hidden !important;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}