section#projetos {
    background: linear-gradient(rgba(4, 4, 14, 0.362), rgba(18, 3, 70, 0.95));
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1024px) {
    section#projetos {
        overflow-x: hidden !important;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.text-body-secondary i {
    font-size: 2.1rem;
    color: #ffffff;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
}

.text-body-secondary i:hover {
    color: #000000;
    background-color: #ffffff;
    transform: translateY(-5px);
}