<section id="projetos">
    <div class="container pb-5">
        <h2 class="pb-4">Projetos</h2>
        <div class="grid-container">
            <app-card-project name="Med Senior API" image="assets/images/med_senior_api.png" [stacks]="medSeniorApi"></app-card-project>
            <app-card-project name="Med Senior Web" image="assets/images/med_senior_web.png" [stacks]="medSeniorWeb"></app-card-project>
            <app-card-project name="Med Senior Mobile" image="assets/images/med_senior_mobile.jpg" [stacks]="medSeniorMobile"></app-card-project>
            <app-card-project name="Fruit Market" image="assets/images/fruit_market.png" [stacks]="fruitMarketMobile"></app-card-project>
            <app-card-project name="Snack Spot" image="assets/images/snack_spot.png" [stacks]="snackSpot"></app-card-project>
        </div>
        <div class="container p-5">
            <ul class="nav justify-content-center d-flex">
                <li class="ms-4">
                    <a class="text-body-secondary" href="mailto:rezendefabio337@hotmail.com" target="_blank">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </li>
                <li class="ms-4">
                    <a class="text-body-secondary" href="https://www.linkedin.com/in/fabio-rezendee/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="ms-4">
                    <a class="text-body-secondary" href="https://instagram.com/rezendee_fabio" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="ms-4">
                    <a class="text-body-secondary" href="https://github.com/Rezende-Fabio" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>