.container-fluid {
    color: black !important;
    background-color: var(--tertiary-dark);
}

.d-flex {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-orange);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.btn-close-modal:hover {
    box-shadow: 0px 0px 5px 3px #0a0a0a40;
    transform: translateY(-3px);
}


.modal-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 400px;
    overflow: hidden;
    padding: 1rem;
}

.left-panel {
    flex: 1;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mySwiper {
    width: 100%;
    max-width: 600px;
}

.mySwiper img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

.mySwiper img.mobile {
    width: 100%;
    max-height: 15rem;
    border-radius: 8px;
    object-fit: scale-down;
}

.stacks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--primary-orange);
    margin-top: 0.8rem;
    text-align: center;
}

.stacks img {
    width: 28px;
    margin: 5px;
}


.links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.links .git {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.links .git i {
    font-size: 1rem;
}

.links .git:hover{
    background-color: #ffffff;
    color: #000000;
}

.right-panel {
    flex: 1;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.description {
    flex-grow: 1;
    overflow-y: auto;
    word-wrap: break-word;
    line-height: 1.5;
    color: white;
}

@media (max-width: 992px) {
    h2[mat-dialog-title] {
        font-size: 1.2rem;
        text-align: center;
    }

    .modal-container {
        flex-direction: column !important;
        align-items: center;
        gap: 1.5rem;
    }

    .left-panel,
    .right-panel {
        width: 100%;
        min-width: unset;
        text-align: center;
    }

    .description {
        max-height: none;
    }

    .btn-close-modal {
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    h2[mat-dialog-title] {
        font-size: 0.9rem;
        text-align: center;
    }

    .mySwiper {
        max-width: 100%;
    }

    .stacks img {
        width: 24px !important;
    }

    .links a {
        font-size: 0.85rem;
        padding: 0.3rem 0.7rem;
    }
}