:root {
    --primary-dark: #121212;
    --secondary-dark: #1E1E1E;
    --tertiary-dark: #292929;
    --blur-dark: #1e1e1eac; 

    --primary-orange: #FF6F00; 
    --secondary-orange: #D35400;
    --accent-orange: #FF9800;

    --text-primary: #E0E0E0; 
    --text-secondary: #BDBDBD;
    --text-muted: #757575; 
}


html,
body {
    font-family: Fira Sans, Arial;
    width: 100%;
    height: 100%;
    color: #ffffff !important;
}

main {
    background-color: var(--primary-dark);
}

.icon-sgv {
    width: 35px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-orange);
}


@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    [data-anime="right"] {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cardFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Animações */
[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="down"] {
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

[data-anime-card] {
    opacity: 0;
}