<section id="inicio" class="row m-0 p-0">
    <div class="container">
        <div class="infos">
            <h6 class="initial">Olá, eu sou</h6>
            <h6 class="title">Fabio Rezende</h6>
            <span class="subtitle">
                Desenvolvedor Full-Stack,
                trabalho com <span class="stack">C#</span>, <span class="stack">Python</span>, <span class="stack">JavaScript</span>, <span class="stack">HTML</span> e <span class="stack">CSS</span>.
            </span>

            <div class="socials mt-4">
                <a class="social-item" href="mailto:rezendefabio337@hotmail.com" target="_blank">
                    <i class="fa-regular fa-envelope"></i>
                </a>
                <a class="social-item" href="https://www.linkedin.com/in/fabio-rezendee/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a class="social-item" href="https://instagram.com/rezendee_fabio" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="social-item" href="https://github.com/Rezende-Fabio" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col d-flex justify-content-end align-items-end">
            <div id="arraste" class="d-flex align-items-center">
                <i class="fa-solid fa-arrow-down"></i>
                <a href="#sobre">Arreste para mais</a>
            </div>
        </div>
    </div>
</section>
